body{
  margin:0;
  padding:0;
  font-family:sans-serif
}

.riga {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.riga input {
  min-width: 50px;
}

.cover {
  background-color: grey;
  color: grey;
}

.bomb {
  background-color: red !important;
}

 